.table {
    border: 1px solid lightgrey;
    border-collapse: collapse;
}
.table th,
.table td {
    border: 1px solid lightgrey;
}
.table th,
.table td {
}
.draggable {
    cursor: move;
    user-select: none;
}
.placeholder {
    background-color: lightgrey;
    border: 2px dashed lightgrey;
}

.clone-list {
    border-top: 1px solid lightgrey;
}
.clone-table {
    border-collapse: collapse;
    border: none;
}
.clone-table th,
.clone-table td {
    border: 1px solid lightgrey;
    border-top: none;
}
.dragging {
    background: white;
    border-top: 1px solid lightgrey;
    z-index: 999;
}
